/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

#globalBody{
    background: radial-gradient(ellipse farthest-corner, white,#ffffff,#d0d0d0);
}

.demo-logo-icon{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
    content:url("images/logo.png");
}

.oj-form-layout , .no-border{
    border:none !important;
}

.demo-qf-icon{
    width: 130px;
    height: 28px;
    padding-bottom: 3px;
    content:url("images/logo_words_white.png");
}

#button3{
    margin: 0 auto;
    width: 260px;
    border-radius: 5px;
    background-color: #ee1a2d;
    color: white;
}

#button3 .oj-button-text{
    color:white;
}

#form-container{
    margin: 160px 0px 40px 0px;
}

#form-container .oj-form-layout .oj-form .oj-flex{
    margin: 10px 0px 0px 0px;
}

#form-container .oj-form-layout .oj-form .oj-flex:nth-child(0){

}


#form-container .oj-form-layout .oj-form .oj-flex:last-child{
    margin: 20px 0px 0px 0px;
}


.no-border label{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.oj-web-applayout-header {
    z-index: 1;
    background-color: #ee1a2d;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.oj-button.oj-default.oj-button-half-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon {
    color: white;
}

.sub_title_sty{
    font-size: 20px;
    font-weight: 500;
    color: #0d3e44;
    border-bottom: 1px solid #ee1a2d;
    /* color: black; */
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    list-style-type: disc;
    display: list-item;
    list-style-type: disc;
    margin-left: 1em;
    margin-top: 1em;
}